.alerts{
  color: rgba(200,50,50,1);
  font-size: 20px;
  font-weight: bold;
}

.square{
  width:15px;
  height:15px;
}

.red{
  background: red;
}

.green{
  background: green;
}

.cam_table tr td{
  padding: 0px 10px 0px 10px;
  text-align: center;
  align: center;
}

#status {
  font-size: 40px;
  font-weight: bold;  
}